/* Name: Long Kim Tran
*/

body{
    background-color: white;
    color: #404040;
    font-size: 11pt;
    font-family: Georgia, Garamond, serif;
}
h1,h2 {
    color: #A4A400;
    background-color: #F0F0F0;
    font-family: Lucida Sans Unicode, Helvetica, Arial, sans-serif;
    text-decoration: underline;
}
h1 {
    text-align: center;
    font-size: 22pt;
    font-weight: bold;
}
h2 {
    text-align: left;
    font-size: 18pt;
}
blockquote {
    font-style: italic;
    background-color: #FFFFA8;
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 20px;
}
em {
    text-decoration: underline;
    color: #A4A400;
}

#img1 {
    float: right;
}
